<%- include('partials/header.ejs') %>

    <!-- HERO SECTION -->
    <section class="container">

        <div class="hero"></div>

        <div class="hero-left">

            <h1 style="font-weight: 800; margin-bottom: 50px;">Dive into Delights Of Delectable <span>Food</span>
            </h1>

            <p class="section-alt" style="margin-bottom: 20px;">Where Each Plate Weaves a Story of Culinary <br>Mastery and
                Passionate Craftsmanship</p>

            <div class="hero-left-d">

                <a href="/order">
                    <!-- Order Now Button -->
                    <svg width="200" height="156" viewBox="0 0 305 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_0_1)">
                            <rect x="40" y="16" width="229" height="80" rx="40" fill="#39DB4A" />
                        </g>
                        <path
                            d="M105.761 56.5455C105.761 58.5829 105.38 60.3279 104.616 61.7805C103.859 63.227 102.825 64.335 101.514 65.1044C100.209 65.8738 98.7289 66.2585 97.0732 66.2585C95.4174 66.2585 93.9339 65.8738 92.6229 65.1044C91.3179 64.3288 90.2839 63.2178 89.5206 61.7713C88.7635 60.3187 88.3849 58.5767 88.3849 56.5455C88.3849 54.508 88.7635 52.7661 89.5206 51.3196C90.2839 49.867 91.3179 48.7559 92.6229 47.9865C93.9339 47.2171 95.4174 46.8324 97.0732 46.8324C98.7289 46.8324 100.209 47.2171 101.514 47.9865C102.825 48.7559 103.859 49.867 104.616 51.3196C105.38 52.7661 105.761 54.508 105.761 56.5455ZM102.317 56.5455C102.317 55.1113 102.093 53.9018 101.643 52.9169C101.2 51.9259 100.585 51.178 99.7969 50.6733C99.009 50.1624 98.1011 49.907 97.0732 49.907C96.0452 49.907 95.1373 50.1624 94.3494 50.6733C93.5616 51.178 92.9429 51.9259 92.4936 52.9169C92.0504 53.9018 91.8288 55.1113 91.8288 56.5455C91.8288 57.9796 92.0504 59.1922 92.4936 60.1832C92.9429 61.1681 93.5616 61.916 94.3494 62.4268C95.1373 62.9316 96.0452 63.1839 97.0732 63.1839C98.1011 63.1839 99.009 62.9316 99.7969 62.4268C100.585 61.916 101.2 61.1681 101.643 60.1832C102.093 59.1922 102.317 57.9796 102.317 56.5455ZM108.852 66V51.8182H112.093V54.1818H112.241C112.499 53.3632 112.942 52.7322 113.57 52.2891C114.204 51.8397 114.927 51.6151 115.74 51.6151C115.925 51.6151 116.131 51.6243 116.358 51.6428C116.592 51.6551 116.786 51.6766 116.94 51.7074V54.782C116.799 54.7327 116.574 54.6896 116.266 54.6527C115.965 54.6096 115.672 54.5881 115.389 54.5881C114.78 54.5881 114.232 54.7204 113.746 54.9851C113.265 55.2436 112.887 55.6037 112.61 56.0653C112.333 56.527 112.194 57.0594 112.194 57.6626V66H108.852ZM123.839 66.2493C122.725 66.2493 121.728 65.9631 120.848 65.3906C119.968 64.8182 119.272 63.9872 118.761 62.8977C118.25 61.8082 117.995 60.4848 117.995 58.9276C117.995 57.3518 118.254 56.0223 118.771 54.9389C119.294 53.8494 119.999 53.0277 120.885 52.4737C121.771 51.9136 122.759 51.6335 123.849 51.6335C124.68 51.6335 125.363 51.7751 125.898 52.0582C126.434 52.3352 126.859 52.6707 127.173 53.0646C127.487 53.4524 127.73 53.8187 127.902 54.1634H128.04V47.0909H131.392V66H128.105V63.7656H127.902C127.73 64.1103 127.48 64.4766 127.154 64.8643C126.828 65.246 126.397 65.5722 125.862 65.843C125.326 66.1139 124.652 66.2493 123.839 66.2493ZM124.772 63.5071C125.48 63.5071 126.083 63.3163 126.582 62.9347C127.08 62.5469 127.459 62.0083 127.717 61.3189C127.976 60.6295 128.105 59.8262 128.105 58.9091C128.105 57.992 127.976 57.1948 127.717 56.5178C127.465 55.8407 127.089 55.3144 126.591 54.9389C126.098 54.5634 125.492 54.3757 124.772 54.3757C124.027 54.3757 123.406 54.5696 122.907 54.9574C122.408 55.3452 122.033 55.8807 121.781 56.5639C121.528 57.2472 121.402 58.0289 121.402 58.9091C121.402 59.7955 121.528 60.5864 121.781 61.282C122.039 61.9714 122.418 62.5161 122.916 62.9162C123.421 63.3101 124.04 63.5071 124.772 63.5071ZM141.232 66.277C139.81 66.277 138.582 65.9815 137.548 65.3906C136.52 64.7936 135.729 63.9503 135.175 62.8608C134.621 61.7652 134.344 60.4756 134.344 58.9922C134.344 57.5334 134.621 56.2531 135.175 55.1513C135.735 54.0433 136.517 53.1816 137.52 52.5661C138.524 51.9444 139.702 51.6335 141.057 51.6335C141.931 51.6335 142.756 51.7751 143.531 52.0582C144.313 52.3352 145.002 52.7661 145.599 53.3509C146.202 53.9356 146.676 54.6804 147.021 55.5852C147.366 56.4839 147.538 57.5549 147.538 58.7983V59.8232H135.914V57.5703H144.334C144.328 56.9302 144.19 56.3608 143.919 55.8622C143.648 55.3575 143.269 54.9605 142.783 54.6712C142.303 54.3819 141.743 54.2372 141.103 54.2372C140.42 54.2372 139.819 54.4034 139.302 54.7358C138.785 55.062 138.382 55.4929 138.093 56.0284C137.81 56.5578 137.665 57.1394 137.659 57.7734V59.7401C137.659 60.5649 137.81 61.2727 138.111 61.8636C138.413 62.4484 138.835 62.8977 139.376 63.2116C139.918 63.5194 140.552 63.6733 141.278 63.6733C141.765 63.6733 142.205 63.6056 142.599 63.4702C142.992 63.3286 143.334 63.1224 143.623 62.8516C143.913 62.5807 144.131 62.2453 144.279 61.8452L147.4 62.196C147.203 63.0208 146.827 63.741 146.273 64.3565C145.725 64.9659 145.024 65.4399 144.168 65.7784C143.313 66.1108 142.334 66.277 141.232 66.277ZM150.366 66V51.8182H153.607V54.1818H153.754C154.013 53.3632 154.456 52.7322 155.084 52.2891C155.718 51.8397 156.441 51.6151 157.254 51.6151C157.438 51.6151 157.644 51.6243 157.872 51.6428C158.106 51.6551 158.3 51.6766 158.454 51.7074V54.782C158.312 54.7327 158.088 54.6896 157.78 54.6527C157.478 54.6096 157.186 54.5881 156.903 54.5881C156.293 54.5881 155.746 54.7204 155.259 54.9851C154.779 55.2436 154.401 55.6037 154.124 56.0653C153.847 56.527 153.708 57.0594 153.708 57.6626V66H150.366ZM182.81 47.0909V66H179.763L170.854 53.12H170.697V66H167.271V47.0909H170.337L179.237 59.9801H179.403V47.0909H182.81ZM192.581 66.277C191.196 66.277 189.996 65.9723 188.98 65.3629C187.965 64.7536 187.177 63.901 186.617 62.8054C186.063 61.7098 185.786 60.4295 185.786 58.9645C185.786 57.4995 186.063 56.2161 186.617 55.1143C187.177 54.0125 187.965 53.157 188.98 52.5476C189.996 51.9382 191.196 51.6335 192.581 51.6335C193.966 51.6335 195.166 51.9382 196.182 52.5476C197.198 53.157 197.982 54.0125 198.536 55.1143C199.097 56.2161 199.377 57.4995 199.377 58.9645C199.377 60.4295 199.097 61.7098 198.536 62.8054C197.982 63.901 197.198 64.7536 196.182 65.3629C195.166 65.9723 193.966 66.277 192.581 66.277ZM192.6 63.5994C193.351 63.5994 193.978 63.3932 194.483 62.9808C194.988 62.5623 195.363 62.0021 195.61 61.3004C195.862 60.5987 195.988 59.817 195.988 58.9553C195.988 58.0874 195.862 57.3026 195.61 56.6009C195.363 55.893 194.988 55.3298 194.483 54.9112C193.978 54.4927 193.351 54.2834 192.6 54.2834C191.83 54.2834 191.19 54.4927 190.679 54.9112C190.174 55.3298 189.796 55.893 189.544 56.6009C189.297 57.3026 189.174 58.0874 189.174 58.9553C189.174 59.817 189.297 60.5987 189.544 61.3004C189.796 62.0021 190.174 62.5623 190.679 62.9808C191.19 63.3932 191.83 63.5994 192.6 63.5994ZM204.734 66L200.727 51.8182H204.134L206.627 61.7898H206.756L209.304 51.8182H212.674L215.223 61.7344H215.361L217.817 51.8182H221.233L217.217 66H213.736L211.077 56.4162H210.883L208.224 66H204.734Z"
                            fill="white" />
                        <defs>
                            <filter id="filter0_d_0_1" x="0" y="0" width="305" height="156" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset dx="-2" dy="22" />
                                <feGaussianBlur stdDeviation="19" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                    values="0 0 0 0 0.558333 0 0 0 0 1 0 0 0 0 0.6025 0 0 0 0.5 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </a>

                <p style="font-weight: 600; margin-top: -30px;">Watch Video</p>

                <!-- Play Button -->
                <a href="/">

                    <div class="circle">
                        <svg width="22" height="22" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.5 11.4019C24.5 12.5566 24.5 15.4434 22.5 16.5981L4.49999 26.9904C2.49999 28.1451 -1.34201e-06 26.7017 -1.24107e-06 24.3923L-3.32543e-07 3.60769C-2.31596e-07 1.29829 2.5 -0.145083 4.5 1.00962L22.5 11.4019Z"
                                fill="#1E1E1E" />
                        </svg>
                    </div>

                </a>
            </div>


        </div>

        <div class="hero-right">

            <!-- Banner -->
            <img class="hero-banner" src="/images/hero-right.svg" alt="banner">

        </div>

    </section>

    <!-- SECTION 2 -->
    <section class="container">

        <div class="section-2">

            <p class="section-sub">Customer Favorites</p>

            <h1 class="section-title">Popular Categories</h1>

            <img src="/images/categories.svg" alt="Food Categories">

        </div>

    </section>

    <section class="container">

        <div class="section-3">

            <div class="s3-top">
                <div class="s3-left">

                    <p class="section-sub">Special Dishes</p>
                    <h1 style="margin-bottom: -0.5px;" class="section-title">Standout Dishes <br>From Our Menu</h1>

                </div>

                <div class="s3-right">

                    <a href="/">
                        <!-- Previous button -->
                        <svg width="50" height="50" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="40" cy="40" r="40" fill="#EFEFEF" />
                            <path d="M41.7645 32L34 39.7645" stroke="#6F6E6E" stroke-width="4" stroke-linecap="round" />
                            <path d="M41.7645 48L34 40.2355" stroke="#6F6E6E" stroke-width="4" stroke-linecap="round" />
                        </svg>
                    </a>

                    <a href="/">
                        <!-- Next Button -->
                        <svg width="50" height="50" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="40" cy="40" r="40" fill="#39DB4A" />
                            <path d="M36 32L43.7645 39.7645" stroke="white" stroke-width="4" stroke-linecap="round" />
                            <path d="M36 48L43.7645 40.2355" stroke="white" stroke-width="4" stroke-linecap="round" />
                        </svg>
                    </a>


                </div>
            </div>

            <!-- Dishes -->
            <img src="/images/menu.svg" oncontextmenu="false" alt="Dishes Menu">

        </div>

    </section>

    <section class="container">

        <div class="section-4">

            <div class="s4-left">

                <img src="/images/chef.svg" alt="Chef">

            </div>

            <div class="s4-right">

                <div class="s4-right-t">

                    <p class="section-sub" style="text-align: left;">Testimonials</p>
                    <h1 class="section-title" style="text-align: left;">What Our Customers Say About Us</h1>
                    <p class="section-alt" style="margin-bottom: 30px;">“I had the pleasure of dining at Foodi last
                        night, and I'm still raving about the experience! The attention to detail in presentation and
                        service was impeccable”</p>

                </div>

                <div class="s4-right-b">
                    <div class="s4-right-b-l">
                        <img src="/images/review.svg" alt="">
                    </div>
                    <div class="s4-right-b-r">

                        <div class="s4-right-b-r-t">
                            <h2 class="section-alt" style="font-weight: 600; color: #000000;">Customer Feedback</h2>
                        </div>

                        <div class="s4-right-b-r-b">
                            <!-- Star icon -->
                            <img style="width: 15px; height: 15px;" src="/images/star.svg" alt="">
                            <h3 style="font-weight: 600; font-size: 16px;">4.9</h3>
                            <p class="section-alt" style="font-size: 16px;">(18.6k Reviews)</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="container">

        <div class="section-5">

            <div class="s5-l">

                <p class="section-sub" style="text-align: left;">Our Story & Services</p>
                <h1 class="section-title" style="text-align: left;">Our Culinary Journey And Services</h1>
                <p class="section-alt" style="margin-bottom: 30px;">Rooted in passion, we curate unforgettable dining
                    experiences and offer
                    exceptional services, <br>blending culinary artistry with warm hospitality.</p>
                <!-- Explore Button -->
                <a href="/explore">
                    <svg width="140" height="80" viewBox="0 0 215 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="215" height="80" rx="40" fill="#39DB4A" />
                        <path
                            d="M61.8651 50V31.0909H74.1634V33.9624H65.2905V39.0959H73.5263V41.9673H65.2905V47.1286H74.2372V50H61.8651ZM80.2433 35.8182L83.1055 41.0533L86.0138 35.8182H89.5501L85.2752 42.9091L89.6239 50H86.1062L83.1055 44.8942L80.1325 50H76.587L80.908 42.9091L76.6978 35.8182H80.2433ZM92.1353 55.3182V35.8182H95.4222V38.1634H95.6161C95.7885 37.8187 96.0316 37.4524 96.3455 37.0646C96.6594 36.6707 97.0842 36.3352 97.6197 36.0582C98.1552 35.7751 98.8384 35.6335 99.6694 35.6335C100.765 35.6335 101.753 35.9136 102.633 36.4737C103.52 37.0277 104.221 37.8494 104.738 38.9389C105.261 40.0223 105.523 41.3518 105.523 42.9276C105.523 44.4848 105.268 45.8082 104.757 46.8977C104.246 47.9872 103.55 48.8182 102.67 49.3906C101.79 49.9631 100.793 50.2493 99.6786 50.2493C98.8661 50.2493 98.1921 50.1139 97.6566 49.843C97.1211 49.5722 96.6902 49.246 96.364 48.8643C96.0439 48.4766 95.7946 48.1103 95.6161 47.7656H95.4776V55.3182H92.1353ZM95.413 42.9091C95.413 43.8262 95.5423 44.6295 95.8008 45.3189C96.0655 46.0083 96.444 46.5469 96.9364 46.9347C97.435 47.3163 98.0382 47.5071 98.7461 47.5071C99.4847 47.5071 100.103 47.3101 100.602 46.9162C101.1 46.5161 101.476 45.9714 101.728 45.282C101.987 44.5864 102.116 43.7955 102.116 42.9091C102.116 42.0289 101.99 41.2472 101.738 40.5639C101.485 39.8807 101.11 39.3452 100.611 38.9574C100.113 38.5696 99.4909 38.3757 98.7461 38.3757C98.0321 38.3757 97.4258 38.5634 96.9272 38.9389C96.4286 39.3144 96.0501 39.8407 95.7915 40.5178C95.5392 41.1948 95.413 41.992 95.413 42.9091ZM111.728 31.0909V50H108.385V31.0909H111.728ZM121.351 50.277C119.966 50.277 118.765 49.9723 117.75 49.3629C116.734 48.7536 115.946 47.901 115.386 46.8054C114.832 45.7098 114.555 44.4295 114.555 42.9645C114.555 41.4995 114.832 40.2161 115.386 39.1143C115.946 38.0125 116.734 37.157 117.75 36.5476C118.765 35.9382 119.966 35.6335 121.351 35.6335C122.736 35.6335 123.936 35.9382 124.952 36.5476C125.967 37.157 126.752 38.0125 127.306 39.1143C127.866 40.2161 128.146 41.4995 128.146 42.9645C128.146 44.4295 127.866 45.7098 127.306 46.8054C126.752 47.901 125.967 48.7536 124.952 49.3629C123.936 49.9723 122.736 50.277 121.351 50.277ZM121.369 47.5994C122.12 47.5994 122.748 47.3932 123.253 46.9808C123.757 46.5623 124.133 46.0021 124.379 45.3004C124.631 44.5987 124.758 43.817 124.758 42.9553C124.758 42.0874 124.631 41.3026 124.379 40.6009C124.133 39.893 123.757 39.3298 123.253 38.9112C122.748 38.4927 122.12 38.2834 121.369 38.2834C120.6 38.2834 119.96 38.4927 119.449 38.9112C118.944 39.3298 118.565 39.893 118.313 40.6009C118.067 41.3026 117.944 42.0874 117.944 42.9553C117.944 43.817 118.067 44.5987 118.313 45.3004C118.565 46.0021 118.944 46.5623 119.449 46.9808C119.96 47.3932 120.6 47.5994 121.369 47.5994ZM130.983 50V35.8182H134.224V38.1818H134.371C134.63 37.3632 135.073 36.7322 135.701 36.2891C136.335 35.8397 137.058 35.6151 137.871 35.6151C138.055 35.6151 138.262 35.6243 138.489 35.6428C138.723 35.6551 138.917 35.6766 139.071 35.7074V38.782C138.929 38.7327 138.705 38.6896 138.397 38.6527C138.095 38.6096 137.803 38.5881 137.52 38.5881C136.911 38.5881 136.363 38.7204 135.876 38.9851C135.396 39.2436 135.018 39.6037 134.741 40.0653C134.464 40.527 134.325 41.0594 134.325 41.6626V50H130.983ZM146.986 50.277C145.564 50.277 144.336 49.9815 143.302 49.3906C142.274 48.7936 141.483 47.9503 140.929 46.8608C140.375 45.7652 140.098 44.4756 140.098 42.9922C140.098 41.5334 140.375 40.2531 140.929 39.1513C141.489 38.0433 142.271 37.1816 143.274 36.5661C144.278 35.9444 145.456 35.6335 146.811 35.6335C147.685 35.6335 148.509 35.7751 149.285 36.0582C150.067 36.3352 150.756 36.7661 151.353 37.3509C151.956 37.9356 152.43 38.6804 152.775 39.5852C153.12 40.4839 153.292 41.5549 153.292 42.7983V43.8232H141.668V41.5703H150.088C150.082 40.9302 149.944 40.3608 149.673 39.8622C149.402 39.3575 149.023 38.9605 148.537 38.6712C148.057 38.3819 147.497 38.2372 146.857 38.2372C146.173 38.2372 145.573 38.4034 145.056 38.7358C144.539 39.062 144.136 39.4929 143.847 40.0284C143.564 40.5578 143.419 41.1394 143.413 41.7734V43.7401C143.413 44.5649 143.564 45.2727 143.865 45.8636C144.167 46.4484 144.588 46.8977 145.13 47.2116C145.672 47.5194 146.306 47.6733 147.032 47.6733C147.518 47.6733 147.959 47.6056 148.352 47.4702C148.746 47.3286 149.088 47.1224 149.377 46.8516C149.667 46.5807 149.885 46.2453 150.033 45.8452L153.154 46.196C152.957 47.0208 152.581 47.741 152.027 48.3565C151.479 48.9659 150.778 49.4399 149.922 49.7784C149.066 50.1108 148.088 50.277 146.986 50.277Z"
                            fill="white" />
                    </svg>
                </a>

            </div>

            <div class="s5-r">

                <img src="/images/services.svg" alt="Services">

            </div>

        </div>

    </section>

<!-- Footer -->
<%- include('partials/footer.ejs') %>